apiVersion: v1
kind: Service
metadata:
  name: "{{ .Chart.Name }}"
  labels:
    app: "{{ .Chart.Name }}"
spec:
  type: { { .Values.service.type } }
  selector:
    app: "{{ .Chart.Name }}"
  ports:
    - port: { { .Values.service.port } } # Service port (exposed to Ingress)
      targetPort: { { .Values.service.targetPort } } # Container port (9100)
